

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: coral;
    font-size: 600%; /*ou 6.5em; /* 40px/16=2.5em */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.card-img-top {
    position: relative;
    left: 5%;
    height: 60%;
    width: 60%;

}

h1{
    text-align:  left;

}

.rectangle {
    align-items: left;
    left: 5%;
    width: 25%;
    height: 10%;
    margin: auto;
    z-index: -70;
    border: 5px solid lightgray;
    fill: blanchedalmond;
}

.breadcrum{
    width: 200px;
    height: 400px;
    object-fit: none;
    object-position: 20px 40%;
    border: 5px solid grey;
}

.rounded{
    margin-top: 5%;
    margin-left: 30%;
    display:flex;
    width: 100%;
}
.card-img-top{

    max-width: 300px;
}

.container{

    margin-top: 5%;
    margin-left: 13%;
}

.stats{

    margin-top: 2%;
}

.avatar{
    margin-left: -10%;
    max-width: 70%;
}

.greeting{

    margin-left: -13%;
    margin-top: 0%;

}

.sideMenu{
    margin-top: -5%;
    margin-left: 1%;

}

.LikeDislike{

    margin-left: 50%;
    margin-top: 5%;

}