.rounded{
    margin-top: -2%;
    margin-left: 30%;
    display:flex;
    width: 100%;
}

.avatar{
    width: 70%;
    margin-left: -50%;
    margin-top: -10%;
    
}

.greeting{
     margin-top: 5%;
    margin-left: -72%;
    
 

}

.sideMenu{
    margin-top: -150%;
    margin-left: -220%;
}